<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/burgers">Home</a></li>
            <li><a href="https://www.linkedin.com/in/parkerpreyer/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/ppreyer/burger-sequelize" target="_blank">Github</a></li>
        </ul>
        <h3 class="muted">The Burger Shop</h3>
    </div>

    <hr>

    <div class="jumbotron">
        <h1>The Burger Shop</h1>

        <input class="new-burger" type="search" placeholder="Burger Order" id="example-search-input">
        <button type="submit" class="btn btn-large btn-success submit">Add a Burger</button>
    </div>

    <hr>


    <div class="row">
        <center>
            <!-- Left side (ready to eat) -->
            <div class="col-md-6">
                <h4>Uneaten Burgers</h4>
                <div id="ready_to_eat">

                    <!-- Dynamically Insert Ready Burgers Here -->
                    {{#each burgers}} {{#unless devoured}}
                    <div class="input-group col-md-12 col-xs-12">
                        <div class="col-md-8 col-xs-7">{{id}}. {{burger_name}}</div>
                        <div class="col-md-4 col-xs-5"><input name="customer" type="text" class="form-control bugerEaterTextBox" placeholder="Customer Name"></div>
                        <span class="input-group-btn devour-button">
                  <button class="btn btn-primary devourBurger" id={{this.id}}>Devour</button>
                </span>
                    </div>
                    </form>
                    {{/unless}} {{/each}}

                </div>
            </div>

            <!-- Right side (already eaten) -->
            <div class="col-md-6">
                <h4>Devoured Burgers</h4>
                <div id="already_eaten">

                    <!-- Dynamically Insert Eaten Burgers Here -->
                    {{#each burgers}} {{#if this.devoured}}
                    <div class="input-group col-md-12 col-xs-12">
                        <div>{{this.id}}: {{this.burger_name}} </div>
                        {{!--
                        <div class="col-md-6 col-xs-6"><i>(Eaten by {{this.devourer.devourer_name}})</i></div> --}}
                    </div>
                    {{/if}} {{/each}}

                </div>
            </div>
        </center>
    </div>

    <hr>

    <div class="footer">
        <p>&copy; Parker Preyer 2017</p>
    </div>

</div>